extends layout 


block content
    +navbar
    div(class="select-update-item")
        h1="Select a manga listing to update"
        section(class="full-manga-section")
            each val in manga_list
                a(class="manga-click-div" href=`/manga/update/${val._id}`)
                    section(class="manga-card")
                        h1= val.item_name
                        p= val.item_description 
                        p= `$${val.price}.99`
                        p= `${val.number_in_stock} left in stock`
                        p= `${val.item_publisher}`
                        p= `${val.item_author}`
                        section(class="manga-categories")
                            h3(id="manga-cat-spacer")= "Categories: "
                            each cat, index in val.item_categories
                                if index < val.item_categories.length-1
                                    h4(class="manga-cat-text")=`${cat.category}, `
                                else
                                    h4(class="manga-cat-text")= `${cat.category}`