extends layout 

block content 
    +navbar
    div(class="pre-updated-item")
        h1=doc.item_name
        h3=doc.item_description
        h3=doc.number_in_stock
        each cat, index in doc.item_categories
            if index < doc.item_categories.length-1
                h4(class="manga-cat-text")=`${cat.category}, `
            else
                h4(class="manga-cat-text")= `${cat.category}`
        h3=doc.item_publisher
        h3=doc.item_author 
        h3=`$${doc.price}`
    form(class="update-item-field" method='POST' action=`/manga/update/${doc._id}`)
